<html lang="en">
<head>
<title>Students</title>
<%= stylesheet_link_tag "grid" %>
<%= stylesheet_link_tag "reset" %>
<%= stylesheet_link_tag "sessions" %>
<%= stylesheet_link_tag "plugins" %>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<%= javascript_include_tag "jquery-1.7.1.min" %>
<%= javascript_include_tag "jquery.corner" %>
<%= javascript_include_tag "jquery.validate" %>
<%= javascript_include_tag "js" %>
<%= javascript_include_tag "css_browser_selector" %>
</head>
<body>
	<div id="main" class="container_12"><!-- Body Wrapper Begin -->
		<div id="header"><!-- Header Begin -->
			<div class="grid_3"><a href="#" id="logo" class="float_left">EducationBeta</a></div>
			<div class="grid_4 push_5">
				<div id="search"><!-- Header Search Begin -->
					<input type="text" placeholder="Search..." id="searchinput" name="search" />
					<input type="submit" id="searchbutton" name="search" />
				</div><!-- Header Search End -->
			</div>
		</div><!-- Header End -->
		<div class="clear"></div>
		<div id="userbar"><!-- Userbar Begin -->
			<div id="profile"><!-- Profile Begin -->
				<div id="avatar">
					<img alt="Avatar" height="44" width="44" />
				</div>
				<div id="profileinfo">
					<h3 id="username">
			          Welcome <%= current_user.email %></h3>
					<div class="clear"></div>
					<a href="#" class="profilebutton">Rating</a>
				</div>
			</div><!-- Userbar End -->
			<ul id="navigation"><!-- Main Navigation Begin -->
				<li class="activepage"><a href="#" class="icon_stats">Dashboard</a></li>
				<li><a href="#" class="icon_users">Notes</a>
					<ul>
						<li><a href="#">English</a></li>
						<li><a href="#">Bengali</a></li>
						<li><a href="#">Social Studies</a></li>
						<li><a href="#">Science</a></li>
						<li><a href="#">Mathematics</a></li>
						<li><a href="#">Advanced Mathematics</a></li>
					</ul>
				</li>
				<li><%=link_to "Ask a question", new_question_path(@question), :class => "icon_email" %></li>
				<li><a href="#" class="icon_folder">Edu-Catchup</a>
					<ul>
						<li><a href="#">Invite a Friend</a></li>
						<li><a href="#">Feeds From Students</a></li>
						<li><a href="#">Students Forum</a></li>
					</ul>
				</li>
				<li><%= link_to "Logout", log_out_path, :class => "icon_logout" %></li>
			</ul><!-- Main Navigation End -->
		</div><!-- Userbar End -->
		<div class="clear"></div>
		<div id="body">
			<div class="block big"><!-- Block Begin -->
				<div class="titlebar">
					<h3>Course Completion Status</h3>
					<a href="#" class="toggle">&nbsp;</a>
				</div>
				<div class="block_cont">
				<div id="chart1" style="height:300px; width:100%;">Graphs will come Here</div>
				</div>
			</div><!-- Block End -->
			<div class="block small"><!-- Block Begin -->
				<div class="titlebar">
					<h3>My Notifications</h3>
					<a href="#" class="toggle">&nbsp;</a></div>
					<div class="block_cont">
								<div id="chart2" style="height:200px; width:100%;">Notifications will come here</div>
							</div>	
			</div><!-- Block End -->
			<div class="block small"><!-- Block Begin -->
				<div class="titlebar">
					<h3>Test Results</h3>
					<a href="#" class="toggle">&nbsp;</a>
				</div>
				<div class="block_cont">
					<div id="chart2" style="height:200px; width:100%;">Graph will come here</div>
				</div>
			</div><!-- Block End -->
			<div class="block small"><!-- Block Begin -->
				<div class="titlebar">
					<h3>My Ranking Report</h3>
					<a href="#" class="toggle">&nbsp;</a>
				</div>
				<div class="block_cont">
					<div id="chart3" style="height:200px; width:100%;">Graph will come here</div>
				</div>
			</div><!-- Block End -->
	</div><!-- Body Wrapper End -->
	
</body>
</html>
