<%= stylesheet_link_tag "grid" %>
<%= stylesheet_link_tag "reset" %>
<%= stylesheet_link_tag "sessions" %>
<%= stylesheet_link_tag "style" %>
<%= stylesheet_link_tag "plugins" %>


<%= javascript_include_tag "jquery-1.7.1.min.js" %>
<%= javascript_include_tag "ui/jquery-ui-1.8.17.custom.min.js" %>
<%= javascript_include_tag "jquery.corner.js" %>
<%= javascript_include_tag "jquery.validate.js" %>
<%= javascript_include_tag "css_browser_selector.js" %>
<%= javascript_include_tag "jquery.jqplot.min.js" %>
<%= javascript_include_tag "plugins/jqplot.highlighter.min.js" %>
<%= javascript_include_tag "plugins/jqplot.cursor.min.js" %>
<%= javascript_include_tag "plugins/jqplot.dateAxisRenderer.min.js" %>
<%= javascript_include_tag "editor/jquery.cleditor.min.js" %>
<%= javascript_include_tag "calendar/fullcalendar.min.js" %>
<%= javascript_include_tag "jquery.multiselect.min.js" %>
<%= javascript_include_tag "tooltip/jquery.tipsy.js" %>
<%= javascript_include_tag "validation/jquery.validationEngine.js" %>
<%= javascript_include_tag "validation/languages/jquery.validationEngine-en.js" %>
<%= javascript_include_tag "jquery.dataTables.min.js" %>
<%= javascript_include_tag "fancybox/jquery.fancybox-1.3.4.pack.js" %>
<%= javascript_include_tag "fancybox/jquery.easing-1.4.pack.js" %>
<%= javascript_include_tag "js.js" %>

<style>
#user_nav{
	display:none;
}
#navigation li {
	width: 189px;
}
#navigation li ul li {
	width: 160px;
}
#title_text {
	display:none;
}
</style>

<div class="block" style="height:150px;width:100px;padding: 0px 30px 10px 10px;"><!-- Block Begin -->
  <div class="block_cont" style="height:130px;width:100px;">
    <div id="chart1" class="validation_email_image" style="height:130px;width:100px;"></div>
  </div>
</div>

<div class="block" style="height:150px;width:300px;padding: 0px 30px 10px 10px;"><!-- Block Begin -->
  <div class="block_cont" style="height:130px;width:300px;">
    <div id="chart1" style="height:150px;width:100px;">
    	<%= form_tag "/resend/validation_email", :id=>"validation_email_resend_form", :class => "form", :remote=>true do %>
		  <div style="margin-left:2px;"><label>Email:</label></div>
		  <div><%= text_field_tag "email",{},:class => "input validate[required] tipRight" %></div><br />
		  <%= submit_tag "Resend", :id => 'loginbutton' %>
		<% end %>
		<div id="chart1" class="v2_image" style="height:130px;width:130px;margin-left:4cm;margin-top:-95px;"></div>
    </div>
  </div>
</div>