<!DOCTYPE html>
<html>
  <head>
    <title>EducationBeta</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag 'jquery.min', 'jquery-ui.min', 'rails' %>
    <%= csrf_meta_tags %>

	<style>
	#navigation li {
		width: 124px;
	}
	#navigation li ul li {
		width: 122px;
	}
	#username {
		width: 237px;
	}
	</style>
	
  </head>
  <body>
    <h2> <div class="grid_3"><%= link_to "", root_url, :id => "title_text" %>
	<div id="header_1"></div>
	</div>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <div id="user_nav">
        <% if current_user %>
        <% else %>
          <%= link_to "Sign up", sign_up_path, :id => 'user_nav' %>  
          <%= link_to "log in", log_in_path, :id => 'user_nav' %>
        <% end %>
      </div>


      <%= yield %>

    </body>
  </html>
