<!DOCTYPE html>
<html>
<head>
  <title>EducationBeta</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
 <h2> <%= link_to "Welcome to Education Beta", root_url %></h2>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>


<%= yield %>

</body>
</html>
