<%= javascript_include_tag "fancybox/jquery.fancybox-1.3.4.pack.js" %>
<%= javascript_include_tag "fancybox/jquery.easing-1.4.pack.js" %>

<div id="main" class="container_12"><!-- Body Wrapper Begin -->
  <div id="header"><!-- Header Begin -->
    <div class="grid_3"><a href="#" id="logo" class="float_left">EducationBeta</a></div>
    <div class="grid_4 push_5">
      <%= render "shared/header_search"%>
    </div>
  </div><!-- Header End -->
  <div class="clear"></div>
<div id="userbar"><!-- Userbar Begin -->
<% if current_user.is_tutor? %>	
	<%= render "users/tutors/userbar/profile"%>
	<%= render "users/tutors/userbar/navigation"%>
<% else %>
	<%= render "users/students/userbar/profile"%>
	<%= render "users/students/userbar/navigation"%>
<% end %>	
</div>


<div id="body">
	<div class="block big"><!-- Block Begin -->
		<div class="titlebar">
			<h3>My Questions</h3>
			<a href="#" class="toggle">&nbsp;</a>
		</div>
		<div class="block_cont">
			<table class="data-table"><!-- Table Wrapper Begin -->
				<thead>
					<tr>
					<th width="40"><input type="checkbox" name="check" value="-"></th>
					<th>Question</th>
					<th>Tutor</th>
					<th>Status</th>
					<th width="80" class="sorting_disabled">Action</th>
					</tr>
				</thead>
				<%for question in @questions%>
				<tr>
				  <td><input type="checkbox" name="check" value="-"></td>	
			      <td><%= link_to question.title, user_question_path({:user_id => current_user.id, :id => question.id})  %></td>
			      <td><%= question.tutor.email %></td>
			      <td><%= question.status %></td>
            <td><div style="height: 3px;">&nbsp;</div><div class="actionbar"><%= link_to "Edit", user_question_path({:user_id => current_user.id, :id=> question.id})%>	
			    </tr>
			    <%end%>
			</table><!-- Table Wrapper End -->
		</div>
	</div><!-- Block End -->
</div>
</div><!-- Body Wrapper End -->
